header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
  justify-content: space-between;
  padding: 0 2%;
}

.trybewarts-login {
  display: flex;
  margin: 0 2% 0 0;
}

.email , .senha , .submit {
  margin: 3% 2%;
}

#trybewarts-header-title {
  align-self: center;
}

#evaluation-form , #main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#div2 , #div3 , #div5 {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}
